<html>

<head>
    <title>Book Appointment</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/navigation.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/bookAppointment.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="/image/Logo.jpg" alt="">
        <ul>
            <li><a href="/doctor">Doctor</a></li>
            <li><a href="/hospital">Hospital</a></li>
            <li class="tratmentItems"><span>Treatment</span><i class="fas fa-angle-down"></i>
                <ul class="treatmentsMenu" id="treatmentMenu">
                    <li class="tratment_item"><a href="">Dentistry</a></li>
                    <li class="tratment_item"><a href="">Cancer</a></li>
                    <li class="tratment_item"><a href="">Multi Organ Transplant</a></li>
                    <li class="tratment_item"><a href="">Orthopedics Surgery</a></li>
                    <li class="tratment_item"><a href="">Infertiliti Treatment</a></li>
                </ul>
            </li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
            <% if(user){ %>
                <span class="profile_dropdown" id="profile_menu">
                    <%=user.name%><i class="fas fa-chevron-down"></i>
                </span>
                <% } %>
                    <i class="fas fa-bars"></i>
        </div>

        <div class="dropDown" id="dropdown_profile_items">
            <div class="user_details">
                <a class="profileAnchor" href="/editProfile">
                    <figure>
                        <img src="/image/profile/<%=user.profilePicture%>" alt="Profile Picture">
                    </figure>
                    <div>
                        <span class="user_name">
                            <%=user.name%>
                        </span>
                        <span class="user_ph">
                            <%=user.phoneNumber%>
                        </span>
                    </div>
                </a>
            </div>
            <ul>
                <li><a href="">My Appointment</a></li>
                <li><a href="/logout">log out</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <section class="bookAppointment">
        <div class="clinicAppointment">
            <h2 class ="clinicAppointmentHead">In Clinic Appointment</h2>
            <ul class="docAppointmentDetails">
                <li>
                    <i class="far fa-calendar-plus"></i>
                    <span><%=moment(scheduleDetails.date).format("ddd MMM Do yyyy")%></span>
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <span><%=scheduleDetails.startTime%></span>
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <span><%=scheduleDetails.endTime%></span>
                </li>
                <li>
                    <span class="changeDateTime">Change date & Time</span>
                </li>
            </ul>
            <div class="doctorDetails">
                <figure class="doctorFigure">
                    <img src="/image/profile/<%=doctor.profilePicture%>" alt="Profile Picture">
                </figure>
                <ul class="doctorDetailsList">
                    <li>
                        <span><%=doctor.name%></span>
                    </li>
                    <li>
                        <span>
                            <%doctor.hospitals.forEach((hospital)=>{%>
                                <%=hospital+", "%> 
                            <%})%>
                        </span>
                    </li>
                    <li>
                        <span>
                            <%doctor.qualifications.forEach((qualification)=>{%>
                                <%=qualification+", "%> 
                            <%})%>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="hospitalDetails">
                <figure class="hospitalFigure">
                    <img src="" alt="">
                </figure>
                <span class="hospitalName"><%=scheduleDetails.hospital%></span>
            </div>
        </div>
        <%if(!appointmentConfirmed){%>
            <div class="patientDetails">
                <h1 class="patientDetailsHeading">Patient Details:</h1>
                
                <h4>This Appointment is for :</h4>
                <div class="AppointmentFor">
                    <div class="bookForSelf">
                        <input id="selfBooking" name="booking" checked=true type="radio">
                        <label for="selfBooking">Self</label>
                    </div>
                <div class="bookForOthers">
                        <input id="otherBooking" name="booking" type="radio">
                        <label for="otherBooking">Someone Else</label>
                </div>
                
                </div>
                <form class="patientInfoForm" action="/bookAppointment?scheduleId=<%=scheduleDetails.scheduleId%>" method="POST">
                    <h3 class="infoHeading">Please provide the following information :</h3>
                    <h4 class="inputHeadInfo">Patient's full name:</h4>
                    <input class="infoInputText" id="userName" type="text" name="patientName" required value="<%=user.name%>">
                    <h4 class="inputHeadInfo">Mobile Number :</h4>
                    <input class="infoInputText"  type="text" maxlength="10" required name="phoneNumber" value="<%=user.phoneNumber%>">
                    <h4 class="inputHeadInfo">Patient's mobile Number :</h4>
                    <input class="infoInputText" id="phNumber" maxlength="10" required  type="text" name="allternativeNumber" value="<%=user.phoneNumber%>">
                    <h4 class="inputHeadInfo">Patient's email</h4>
                    <input class="infoInputText" id="email"  type="email" name="patientEmail" required value ="<%=user.email%>">
                    <input type="hidden" name="doctorName" value="<%=doctor.name%>">
                    <button id="submit" class="submitButton">Book Appointment</button>
                </form>
            
            </div>
        <%} else {%>
            <div class="confirmedAppointment">
                <div class="conformHeading">
                    <i class="fas fa-check-circle"></i>
                    <h1>Appointment Confirmed</h1>
                </div>
                <h3>We have sent you an SMS with the details</h3>
                <h4 class="infoHead">Patient Name:</h4>
                <span class="infoSpan">Anil</span>
                <h4 class="infoHead">Mobile Number</h4>
                <span class="infoSpan">9869768968</span>
                <div class="submitButtons">
                    <button class="cancleBtn">Cancle Appointment</button>
                    <button class="rescheduleBtn">Reschedule Appointment</button>
                </div>
            </div>
        <%}%>
            
    
    </section>
</main>
<footer class="footer">
    <img class="footer_img" src="/image/footer.png" alt="">
    <ul>
        <li><a href="">Doctor</a> </li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
    <div id="footer-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>

<script>
    const selfBook = document.getElementById("selfBooking");
    const otherBooking = document.getElementById("otherBooking");
    const nameDOMObj = document.getElementById("userName");
    const nameValue = nameDOMObj.value;
    const patientNumber = document.getElementById("phNumber");
    const patientNumberValue = patientNumber.value;
    const email = document.getElementById("email");
    const emailValue = email.value;

  
    
    selfBook.addEventListener("click", selfBookingHandler);
    otherBooking.addEventListener("click", otherBookingHandeler)

    function selfBookingHandler(event){
        nameDOMObj.value = nameValue;
        patientNumber.value = patientNumberValue;
        email.value = emailValue

    }

    function otherBookingHandeler(){
        nameDOMObj.value = "";
        patientNumber.value = "";
        email.value = "";
    }
    document.getElementById("submit").addEventListener("click", validatePhNo);

    function validatePhNo(){
        let phNumber = document.getElementById("phNumber");
        if (new RegExp("[0-9]{10}").test(phNumber.value)) {
            phNumber.setCustomValidity("");
        } else {
            phNumber.setCustomValidity("Must contain 10 digits");
        }
    }
 

</script>

</html>