<html>

<head>
    <title>Doctor</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/navigation.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/doctor.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="/image/Logo.jpg" alt="">
        <ul>
            <li><a href="/doctor">Doctor</a></li>
            <li><a href="/hospital">Hospital</a></li>
            <li class="tratmentItems"><span>Treatment</span><i class="fas fa-angle-down"></i>
                <ul class="treatmentsMenu" id="treatmentMenu">
                    <li class="tratment_item"><a href="">Dentistry</a></li>
                    <li class="tratment_item"><a href="">Cancer</a></li>
                    <li class="tratment_item"><a href="">Multi Organ Transplant</a></li>
                    <li class="tratment_item"><a href="">Orthopedics Surgery</a></li>
                    <li class="tratment_item"><a href="">Infertiliti Treatment</a></li>
                </ul>
            </li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
            <% if(user){ %>
                <span class="profile_dropdown" id="profile_menu">
                    <%=user.doctor ? user.doctor.name : user.patient.name%><i class="fas fa-chevron-down"></i>
                </span>
                <% } %>
                    <i class="fas fa-bars"></i>
        </div>

        <div class="dropDown" id="dropdown_profile_items">
            <div class="user_details">
                <a class="profileAnchor" href="/editProfile">
                    <figure>
                        <img src="/image/profile/<%=user.profilePicture%>" alt="Profile Picture">
                    </figure>
                    <div>
                        <span class="user_name">
                            <%=user.doctor? user.doctor.name : user.patient.name%>
                        </span>
                        <span class="user_ph">
                            <%=user.doctor? user.doctor.phoneNumber : user.patient.phoneNumber%>
                        </span>
                    </div>
                </a>
            </div>
            <ul>
                <li><a href="">My Appointment</a></li>
                <li><a href="/logout">log out</a></li>
            </ul>
        </div>

    </nav>
</header>
<main>
    <section class="heading">
        <h1>Cardiac Surgon in&nbsp;<span>Delhi</span></h1>
        <div class="blue_layer"></div>
        <figure>
            <img src="/image/Doctors.png" alt="">
        </figure>
    </section>
    <section class="sort-section">
        <h3>Home/Doctor List</h3>
        <select name="" id="">
            <option value="">Sort By</option>
        </select>
    </section>
    <div class="combine-section">
        <section class="filter-section">
            <h3>Filter By</h3>
            <div class="filter-list">
                <div class="filter-head">
                    <h4>Location</h4>
                    <div class="search-tool">
                        <i class="fas fa-search"></i>
                        <span class="minimize-bar">&#8212</span>
                    </div>
                </div>
                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">DLF Cyber City</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Dwaraka</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Lajpat Nagar</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Palam Vihar</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Pusa Road</label>
                    </li>
                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>

            <div class="filter-list">
                <div class="filter-head">
                    <h4>Treatment</h4>
                    <div class="search-tool">
                        <i class="fas fa-search"></i>
                        <span class="minimize-bar">&#8212</span>
                    </div>
                </div>

                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">Multi Organ Transplant</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Orthopedic Surgurey</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Infertility Treatment</label>
                    </li>

                    <li>
                        <input type="checkbox">
                        <label for="">Dentistry</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Cardiology</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Cancer</label>
                    </li>

                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>

            <div class="filter-list">
                <div class="filter-head">
                    <h4>Hospitals</h4>
                    <div class="search-tool">
                        <i class="fas fa-search"></i>
                        <span class="minimize-bar">&#8212</span>
                    </div>
                </div>

                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">Apollo Hospital</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Manipal north Side Hospital</label>
                    </li>
                    <li>

                        <input type="checkbox">
                        <label for="">Northstar</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">AIIMS</label>
                    </li>
                    <li>

                        <input type="checkbox">
                        <label for="">Fortis Hospital</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">Elibit Diagnostic</label>
                    </li>
                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>

            <div class="filter-list">
                <div class="filter-head">
                    <h4>Year of Experience</h4>
                    <div class="search-tool">
                        <i class="fas fa-search"></i>
                        <span class="minimize-bar">&#8212</span>
                    </div>
                </div>

                <ul>
                    <li>
                        <input type="checkbox">
                        <label for="">30+</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">25+</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">20+</label>
                    </li>
                    <li>

                        <input type="checkbox">
                        <label for="">15+</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">10+</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label for="">5+</label>
                    </li>
                </ul>
                <a class="show-more" href="">+ show More</a>
            </div>
        </section>
        <section class="doctor-details">
            <% for(var i=0; i<doctors.length ; i++){ %>
                <div class="allDoctorDetails">
                    <div class="details">
                        <h3><span class="horizontal_bar">&#8212;&#8212;&#8212;&nbsp;&nbsp;</span>
                            <%=doctors[i].doctor.name%>
                        </h3>
                        <ul>
                            <li>
                                <i class="fas fa-certificate"></i>
                                <span>
                                    <%=doctors[i].doctor.name%>
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-award"></i>
                                <%for(var j=0; j<doctors[i].qualifications.length; j++){%>
                                    <span>
                                        <%=doctors[i].qualifications[j]%>
                                    </span>
                                <%}%>
                            </li>
                            <li>
                                <i class="far fa-clock"></i>
                                <span><%=doctors[i].experiences%> year of experience</span>
                            </li>
                            <li>
                                <i class="fas fa-building"></i>
                                <%doctors[i].hospitals.forEach((hospital)=>{%>
                                    <span>
                                        <%=hospital%>
                                    </span>
                                <%})%>

                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <span><%=doctors[i].doctor.country%></span>
                            </li>
                        </ul>
                        <button class="appointment_btn" value="<%=doctors[i]._id%>">Book an appointment</button>
                        <figure>
                            <img src="/image/profile/<%=doctors[i].profilePicture ? doctors[i].profilePicture.filename : 
                                " default_profilepic.jpg" %>" alt="">
                        </figure>
                    </div>
                    <div style="display: none;" class="schedule" id="<%=doctors[i]._id%>">
                        <div class="scheduleDays">
                            <button class="chevronBtn leftBtn">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <div class="doctorScheduleDate">
                                <%for(let j=0; j<7; j++){%>
                                    <div class="scheduleDayBlock">
                                        <span class="scheduleSpan">
                                            <%if(j === 0){%>
                                                Today
                                            <%}else if(j===1){%>
                                                Tomorrow
                                            <%}else{%>
                                                <%=moment().add(j, "days").format("ddd MMM Do yyyy")%>
                                            <%}%>
                                        </span>
                                        <span class="totalScheduleCount" id="<%=doctors[i]._id%>totalSchedule_<%=j%>_putSchedule"></span>
                                        <input type="hidden" class="totalSchedule" value="<%=doctors[i]._id%>totalSchedule_<%=j%>">
                                    </div>
                                <%}%>
                            </div>
                            <button class="chevronBtn rightBtn">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                        <div class="scheduleWeeks"> 
                            <%for(let j=0; j<7; j++){%>
                                <div class="scheduleWeekDay" id="<%=doctors[i]._id%>_getDocSubSchedule_<%=j%>">

                                    <%let scheduleByDate = doctors[i].schedule.filter((docSchedule)=>{%>
                                        <%return moment(docSchedule.date).isSame(moment().add(j, "days"), "days") && (moment(docSchedule.date).isSame(moment().add(j, "days"), "month"))%>
                                    <%})%> 
                                    <%let hospital = [];%>
                                    <%let colourClass = ["green", "blue", "yellow", "red", "gray"]%>
                                   
                                    <%var morning = []%>
                                    <%var afternoon = []%>
                                    <%var evening = []%>
                                    <%var totalSloat = 0%>
                                
                                    <%scheduleByDate.forEach((element)=>{%>
                                        <%var colorIndex = hospital.indexOf(element.hospitalName)%>
                                        <%if(colorIndex === -1){%>
                                            <%hospital.push(element.hospitalName)%>
                                        <%}%>
                                        <%element.schedules.forEach((elementSchedule)=>{%> 
                                            <% totalSloat = totalSloat + 1; %>
                                            <%let startTime = elementSchedule.time.split(" - ")[0]%>
                                            <%let startTimeHour = moment(startTime, "HH:mm A").get("hour")%>
                                            
                                            <%if(startTimeHour < 12){%>
                                                <%morning.push({
                                                    color: colourClass[hospital.indexOf(element.hospitalName)],
                                                    startTime: startTime
                                            })%>
                                            <%} else if(startTimeHour < 18){%>
                                                <%afternoon.push({
                                                    color: colourClass[hospital.indexOf(element.hospitalName)],
                                                    startTime: startTime
                                                 })%>
                                            <%} else {%>
                                                <%evening.push({
                                                    color: colourClass[hospital.indexOf(element.hospitalName)],
                                                    startTime: startTime
                                                 })%>
                                            <%}%>
                                        <%})%>
                                       
                                    <%})%>
                                   
                                    <input type="hidden" id="<%=doctors[i]._id%>totalSchedule_<%=j%>" value=<%=totalSloat%>>
                                    <div class="morning">
                                        <div class="dayWithIcon">
                                            <i class="fas fa-sun"></i>
                                            <h4>Morning</h4>
                                        </div>
                                        <%if(morning.length > 0){%>
                                            <div class="timing">
                                                <%morning.forEach((morningTime)=>{%>
                                                    <span class="<%=morningTime.color%> timingTag"><%=morningTime.startTime%></span>
                                                <%})%>
                                            </div>
                                        <%}%>
                                     
                                       
                                    </div>
                                    <div class="afternoon">
                                        <div class="dayWithIcon">
                                            <i class="fas fa-sun"></i>
                                            <h4>Afternoon</h4>
                                        </div>
                                        <%if(afternoon.length > 0){%>
                                            <div class="timing">
                                                <%afternoon.forEach((afternoonTime)=>{%>
                                                    <span class="<%=afternoonTime.color%> timingTag"><%=afternoonTime.startTime%></span>
                                                <%})%>
                                            </div>
                                        <%}%>
                                    </div>
                                    <div class="evening">
                                        <div class="dayWithIcon">
                                            <i class="fas fa-sun"></i>
                                            <h4>Evening</h4>
                                        </div>
                                        <%if(evening.length > 0){%>
                                            <div class="timing">
                                                <%evening.forEach((eveningTime)=>{%>
                                                    <span class="<%=eveningTime.color%> timingTag"><%=eveningTime.startTime%></span>
                                                <%})%>
                                            </div>
                                        <%}%>
                                    </div>
                                    <%if(hospital.length > 0){%>
                                        <div class="hospital">
                                            <%hospital.map((hospital, index)=>{%>
                                                <h3 class="<%=colourClass[index]%> hospitalColor"><%=hospital%></h3>
                                            <%})%>
                                        </div>
                                    <%} else {%>
                                        <div class="hospital">
                                            <h3 class="hospitalColor">None</h3>
                                        </div>
                                    <%}%>
                                </div>  
                            <%}%>
                        </div>
                    </div>
                </div>
            <%}%>
        </section>
    </div>
    <section class="quary_section">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
        </div>
        <div>
            <button type="submit">Submit your enquiry</button>
        </div>

    </section>
</main>
<footer class="footer">
    <img class="footer_img" src="../assets/image/footer.png" alt="">
    <ul>
        <li><a href="">Doctor</a> </li>
        <li><a href="">Hospital</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
    <div id="footer-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>
<script src="/scripts/profileMenu.js"></script>

<script>
   const appointment_btn = document.getElementsByClassName("appointment_btn");
   for(let i=0; i<appointment_btn.length; i++){
       appointment_btn[i].addEventListener("click", (event)=>{
           const schedule = document.getElementById(event.target.value);
           const scheduleDiv = schedule.getElementsByClassName("scheduleDayBlock");
           
           removeSubSchedules(event.target.value);

           //For left shifting button
           const  leftBtn = schedule.getElementsByClassName("leftBtn")[0];
           leftBtn.addEventListener("click",(event)=>{
                for(let j=0; j<scheduleDiv.length-3; j++){
                    if(scheduleDiv[j].style.display === "block"){
                        scheduleDiv[j].style.display = "none"
                        scheduleDiv[j+3].style.display = "block";
                        break;
                    }
                }
           })

           //For right shift button funtionality
           const  rightBtn = schedule.getElementsByClassName("rightBtn")[0];
           rightBtn.addEventListener("click",(event)=>{
                for(let j=scheduleDiv.length-1; j>2; j--){
                    if(scheduleDiv[j].style.display === "block"){
                        scheduleDiv[j].style.display = "none"
                        scheduleDiv[j-3].style.display = "block";
                        break;
                    }
                }
           })

           //For show first 3 schude date at data load
            for(let j=0; j<scheduleDiv.length; j++){
                if(j >= 3){
                    scheduleDiv[j].style.display = "none"
                }else{
                    scheduleDiv[j].style.display = "block"
                }
            }

            //for block and unblock entire schedule with book appointment btn
           if(schedule.style.display === "block"){
            schedule.style.display = "none";
           }else{
            schedule.style.display = "block";
           }
           
           for(let j=0; j<scheduleDiv.length; j++){
               const scheduleId = {id: event.target.value, index: j}
               scheduleDiv[j].addEventListener("click", (event)=>{
                   removeSubSchedules(scheduleId.id)
                    const subSchedule = document.getElementById(scheduleId.id+"_getDocSubSchedule_"+scheduleId.index);
                    subSchedule.style.display = "block";
               })
           }
       })
   }

   function removeSubSchedules(scheduleId){
        for(let i=0; i<7; i++){
            let subSchedule = document.getElementById(scheduleId+"_getDocSubSchedule_"+i);
            subSchedule.style.display = "none";
        }
   }
</script>
<script>
    const allSchedules = document.getElementsByClassName("appointment_btn");
   
    for(let i=0; i<allSchedules.length; i++){
         
        allSchedules[i].addEventListener("click", (event)=>{
            const getSchedule = document.getElementById(event.target.value);
            //to get All schedule
            const getTotalSchedule = getSchedule.getElementsByClassName("totalSchedule");
            var totalScheduleValue;
            var putTotalSchedule;
            for(let i=0; i<getTotalSchedule.length; i++){
                totalScheduleValue = document.getElementById(getTotalSchedule[i].value)
                putTotalSchedule = document.getElementById(getTotalSchedule[i].value+"_putSchedule");
                putTotalSchedule.textContent = totalScheduleValue.value + " Sloat available";
            }

        })
    }
</script>
</html>