<html>

<Head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/OTP.css">
    <link rel="stylesheet" href="/css/serverMessageBox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</Head>
<header>
    <nav class="navigation">
        <img class="nav_logo" src="/image/Logo.jpg" alt="">
        <ul>
            <li><a href="/">Doctor</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="nav_btn">
            <button class="login_btn">Login\Sign Up</button>
            <button class="quote_btn">Get a Quote</button>
        </div>
        <i class="fas fa-bars"></i>
    </nav>
</header>
<main>

    <% if(status){ %>
        <section class="server-message <%=status%>" id="serverMessageSection">
            <div class="status_message">
                <% if(status==="Failure" ) { %>
                    <i class=" msg_logo fas fa-times-circle"></i>
                    <% } else if(status==="Success" ) { %>
                        <i class=" msg_logo fas fa-check-circle"></i>
                        <%}else if(status==="Info" ){ %>
                            <i class="msg_logo fas fa-info-circle"></i>
                            <% }%>
                                <div class="msg">
                                    <h4>
                                        <%=status%>
                                    </h4>
                                    <span>
                                        <%=message%>
                                    </span>
                                </div>
            </div>
            <i class="fas fa-times" id="closeServerMessageBox"></i>
        </section>
        <%}%>

            <section class="form">
                <form action="/OTP" method="POST">
                    <h1>OTP</h1>
                    <p>We have send one time password (OTP) to your registerde Phone Number.</p>
                    <div class="otp_div">
                        <input type="text" name="otp1" maxlength="1" autocomplete="off" id="otp-1" class="otp_input">
                        <input type="text" name="otp2" maxlength="1" autocomplete="off" id="otp-2" class="otp_input">
                        <input type="text" name="otp3" maxlength="1" autocomplete="off" id="otp-3" class="otp_input">
                        <input type="text" name="otp4" maxlength="1" autocomplete="off" id="otp-4" class="otp_input">
                    </div>
                    <input type="hidden" name="requestId" value=<%=requestId%>>
                    <input type="hidden" name="buttonCommand" value=<%=buttonCommand%>>
                    <span class="coundown" id="OTPtimer">Resend in <span id="time">5</span> sec</span>
                    <input class="resetOTP" type="submit" name="command" id="resendOTP" value="Resend">
                    <div class="log-button">
                        <button type="submit">SUBMIT</button>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </form>
            </section>
</main>
<footer>
    <p>All Rights Reserved. <span><i class="far fa-copyright"></i></span> tvastra 2018</p>
</footer>
<script src="/scripts/serverMessageBox.js"></script>
<script>
    let otp = document.getElementsByClassName("otp_input")
    for (var i = 0; i < otp.length; i++) {
        otp[i].addEventListener("input", otpFunction);
        otp[i].addEventListener("keydown", changePosition)
    }


    function otpFunction(event) {
        if (!(new RegExp("[0-9]").test(event.target.value))) {
            event.target.value = "";
        } else if (event.target.value !== "") {
            var next = document.getElementById(event.target.id).nextElementSibling
            if (next) {
                next.focus();
            }
        } else {
            var pre = document.getElementById(event.target.id).previousElementSibling;
            if (pre) {
                pre.focus();
            }
        }
    }

    function changePosition(event) {
        if (event.keyCode === 37) {
            var pre = document.getElementById(event.target.id).previousElementSibling;
            if (pre) {
                pre.focus();
            }
        } else if (event.keyCode === 39) {
            var next = document.getElementById(event.target.id).nextElementSibling
            if (next) {
                next.focus();
            }
        }
    }

    ///////////////////////////////////////////////////////////////////
    var time = document.getElementById("time");
    var sec = 40;
    startTimer();

    function startTimer() {
        document.getElementById("OTPtimer").style.display = "block";
        document.getElementById("resendOTP").style.display = "none";
        sec = 40;
        var timer = setInterval(() => {
            if (sec >= 0) {
                time.innerText = sec;
            } else if (sec == -1) {
                document.getElementById("OTPtimer").style.display = "none";
                document.getElementById("resendOTP").style.display = "block";
                stopTimmer();
            }
            console.log(sec)
            sec--
        }, 1000);
        function stopTimmer() {
            clearInterval(timer);
        }
    }



</script>

</html>